[Unit]
Description=Enable fdb learning for PON RDPs
After=gwprovethwan.service RdkWanManager.service

[Service]
Type=simple
ExecStart=/bin/sh -c "/usr/bin/qca-nss-ppe-bridge-mgr start"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
